.ngrx-title{
    color: #666666;
    text-align: center;
    margin: 30px;
}
.ngrx-item{
    padding: 10px 0px;
    border-bottom: 1px solid #ebebec;
    font-size: 12px;
    text-align: center;
}
.ngrx-item:first-child{
    background-color: #ebebec;
}
.ngrx-name{
    width: 100px;
    color: #666666;
}
.ngrx-list-nodata{
    padding: 30px;
    border-bottom: 1px solid #ebebec;
    color: #666666;
    text-align: center;
    font-size: 14px;
}
.ngrx-child{
    margin-bottom: 30px;
}
.ngrx-child>div{
    font-size: 14px;
    color: #666666;
    margin-right: 10px;
    height: 26px;
    line-height: 26px;
}