<div class="Index-warp">
    <div class="Index-title">NG5-NEW-SEED</div>
    <div class="db ba-c bp-j">
        <div class="Index-link-warp db ba-c">
            <div class="Index-link-item">
                <a class="Index-link" routerLink="/list" routerLinkActive="Index-active">list页面</a>
            </div>
            <div class="Index-link-item">
                <a class="Index-link" routerLink="/mobx/demo" routerLinkActive="Index-active" href="">mobx页面</a>
            </div>
            <div class="Index-link-item">
                <a class="Index-link" routerLink="/ngrx/demo" routerLinkActive="Index-active">ngrx页面</a>
            </div>
        </div>
    </div>
    <div class="Index-controll db ba-c">
        <div>
            <jui-checkbox [checked]="isNgrx" value="on" (check)="onIsNgrx($event)">允许跳转Ngrx</jui-checkbox>
        </div>
        <div>
            <jui-checkbox [checked]="isMobx" value="on" (check)="onIsMobx($event)">允许跳转Mobx</jui-checkbox>
        </div>
    </div>
    <div class="Index-child">
        <router-outlet></router-outlet>
    </div>
</div>